In [1]:
import numpy as np
import pandas as pd

import os

In [2]:
os.listdir()

[' 2208541031_Leonardo Edbert Theodora_TUGAS_VI.ipynb',
 ' Pengiriman Data.ipynb',
 '.codeium',
 '.conda',
 '.condarc',
 '.continuum',
 '.cufflinks',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.vscode',
 '2208541031_Leonardo Edbert Theodora_TUGAS_II.ipynb',
 '2208541031_Leonardo Edbert Theodora_TUGAS_III.ipynb',
 '2208541031_Leonardo Edbert Theodora_TUGAS_IV.ipynb',
 '2208541031_Leonardo Edbert Theodora_TUGAS_V.ipynb',
 '2208541031_Leonardo Edbert Theodora_TUGAS_VI - Jupyter Notebook.html',
 '2208541031_Leonardo Edbert Theodora_TUGAS_VI - Jupyter Notebook_files',
 '3D Objects',
 'Airbnb - Fix.ipynb',
 'Airbnb - Leo.ipynb',
 'Airbnb Data Analysis.ipynb',
 'airbnb.csv',
 'Algo IX.ipynb',
 'Algo VII.ipynb',
 'anaconda3',
 'AppData',
 'Application Data',
 'asuransi_mobil.csv',
 'bunga_iris.csv',
 'bunga_iris_target.csv',
 'C++',
 'Contacts',
 'Cookies',
 'Credit Risk Model-Project.ipynb',
 'Dataset Pakan.csv',
 'data_bunga_iri.csv',
 'data_bunga_iris.csv',
 'data_bunga_iris.xlsx',
 'DATA_bunga_iris_files',
 'data_palsu.xlsx',
 'Documents',
 'Favorites',
 'Folder Data Palsu',
 'Gabungan Komposisi Awal dengan yang Baru.ipynb',
 'grafik.png',
 'home.html',
 'IoT Pengukur kadar pH.ipynb',
 'Kelompok 7 Data Airbnb UAS.ipynb',
 'Kelompok 7 Data Airbnb.ipynb',
 'Kelompok_7_Airbnb.ipynb',
 'Klasifikasi pH berdasarkan warna air.ipynb',
 'Klasifikasi pH pada pengujian.ipynb',
 'lc_2016_2017.csv',
 'Local Settings',
 'Main.css',
 'Meminta Input Presentase Protein Pakan.ipynb',
 'Mengambil gambar dengan kamera.ipynb',
 'Mengetahui klasifikasi kondisi air (baik, cukup, buruk).ipynb',
 'Menghitung prediksi jumlah amonia.ipynb',
 'Menghitung prediksi pH dari akumulasi jumlah amonia dan pH sebelumnya - Jupyter Notebook.html',
 'Menghitung prediksi pH dari akumulasi jumlah amonia dan pH sebelumnya - Jupyter Notebook_files',
 'Menghitung prediksi pH dari akumulasi jumlah amonia dan pH sebelumnya.ipynb',
 'Metafishery for Feed Content Analyzing - Copy.ipynb',
 'MinGW',
 'Music',
 'My Documents',
 'nama_bunga.csv',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{022c84d9-ab51-11ed-8792-d80f99753359}.TM.blf',
 'NTUSER.DAT{022c84d9-ab51-11ed-8792-d80f99753359}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{022c84d9-ab51-11ed-8792-d80f99753359}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'OpenCV Amonia.ipynb',
 'OpenCV pH.ipynb',
 'Pakan Nabati.ipynb',
 'Pelatihan Software 2023.ipynb',
 'Pemberian Pakan.ipynb',
 'Percobaan 1 C++',
 'PrintHood',
 'python-3.10.1-amd64.exe',
 'Recent',
 'santi - Shortcut (2).lnk',
 'santi - Shortcut (3).lnk',
 'santi - Shortcut.lnk',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'submission.csv',
 'Templates',
 'tugas vi.ipynb',
 'Untitled-1.py',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'UTS AirBnB.ipynb',
 'Videos']

In [3]:
loan_data = pd.read_csv('lc_2016_2017.csv')

C:\Users\santi\AppData\Local\Temp\ipykernel_11096\4234444771.py:1: DtypeWarning: Columns (18,54) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data = pd.read_csv('lc_2016_2017.csv')

In [4]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300.0,36 months,12.62,77.08,C,C1,...,0.0,NaN,1.0,2.0,2315.0,55.0,7100.0,1.0,0.0,2.0
1,112290210,NaN,16000,16000,16000.0,60 months,12.62,360.95,C,C1,...,11078.0,69.0,3.0,5.0,1962.0,94.0,31900.0,0.0,6.0,1.0
2,112436985,NaN,6025,6025,6025.0,36 months,15.05,209.01,C,C4,...,0.0,NaN,1.0,2.0,1950.0,45.0,27700.0,1.0,5.0,3.0
3,112439006,NaN,20400,20400,20400.0,36 months,9.44,652.91,B,B1,...,53566.0,95.0,1.0,2.0,4240.0,60.0,46900.0,1.0,1.0,1.0
4,112438929,NaN,13000,13000,13000.0,36 months,11.99,431.73,B,B5,...,8466.0,72.0,0.0,1.0,2996.0,78.0,7800.0,0.0,0.0,0.0

In [5]:
loan_data.shape

(759338, 72)

In [6]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 72 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           759338 non-null  int64
 1   member_id                    0 non-null       float64
 2   loan_amnt                    759338 non-null  int64
 3   funded_amnt                  759338 non-null  int64
 4   funded_amnt_inv              759338 non-null  float64
 5   term                         759338 non-null  object
 6   int_rate                     759338 non-null  float64
 7   installment                  759338 non-null  float64
 8   grade                        759338 non-null  object
 9   sub_grade                    759338 non-null  object
 10  emp_title                    708368 non-null  object
 11  emp_length                   708975 non-null  object
 12  home_ownership               759338 non-null  object
 13  annual_inc                   759338 non-null  float64
 14  verification_status          759338 non-null  object
 15  issue_d                      759338 non-null  object
 16  loan_status                  759338 non-null  object
 17  pymnt_plan                   759338 non-null  object
 18  desc                         17 non-null      object
 19  purpose                      759338 non-null  object
 20  title                        736165 non-null  object
 21  zip_code                     759337 non-null  object
 22  addr_state                   759338 non-null  object
 23  dti                          758983 non-null  float64
 24  delinq_2yrs                  759338 non-null  int64
 25  earliest_cr_line             759338 non-null  object
 26  inq_last_6mths               759337 non-null  float64
 27  mths_since_last_delinq       396633 non-null  float64
 28  mths_since_last_record       141179 non-null  float64
 29  open_acc                     759338 non-null  int64
 30  pub_rec                      759338 non-null  int64
 31  revol_bal                    759338 non-null  float64
 32  revol_util                   758821 non-null  float64
 33  total_acc                    759338 non-null  int64
 34  initial_list_status          759338 non-null  object
 35  out_prncp                    759338 non-null  float64
 36  out_prncp_inv                759338 non-null  float64
 37  total_pymnt                  759338 non-null  float64
 38  total_pymnt_inv              759338 non-null  float64
 39  total_rec_prncp              759338 non-null  float64
 40  total_rec_int                759338 non-null  float64
 41  total_rec_late_fee           759338 non-null  float64
 42  recoveries                   759338 non-null  float64
 43  collection_recovery_fee      759338 non-null  float64
 44  last_pymnt_d                 758390 non-null  object
 45  last_pymnt_amnt              759338 non-null  float64
 46  next_pymnt_d                 591423 non-null  object
 47  last_credit_pull_d           759320 non-null  object
 48  collections_12_mths_ex_med   759338 non-null  int64
 49  mths_since_last_major_derog  215105 non-null  float64
 50  policy_code                  759338 non-null  int64
 51  application_type             759338 non-null  object
 52  annual_inc_joint             34003 non-null   float64
 53  dti_joint                    34001 non-null   float64
 54  verification_status_joint    34003 non-null   object
 55  acc_now_delinq               759338 non-null  int64
 56  tot_coll_amt                 759338 non-null  float64
 57  tot_cur_bal                  759338 non-null  float64
 58  open_acc_6m                  759276 non-null  float64
 59  open_il_12m                  759277 non-null  float64
 60  open_il_24m                  759277 non-null  float64
 61  mths_since_rcnt_il           738795 non-null  float64
 62  total_bal_il                 759277 non-null  float64
 63  il_util                      658743 non-null  float64
 64  open_rv_12m                  759277 non-null  float64
 65  open_rv_24m                  759277 non-null  float64
 66  max_bal_bc                   759277 non-null  float64
 67  all_util                     759224 non-null  float64
 68  total_rev_hi_lim             759338 non-null  float64
 69  inq_fi                       759277 non-null  float64
 70  total_cu_tl                  759276 non-null  float64
 71  inq_last_12m                 759276 non-null  float64
dtypes: float64(40), int64(10), object(22)
memory usage: 417.1+ MB

In [7]:
# Fungsi 'unique()' pada suatu series dalam library pandas 
# digunakan untuk mengidentifikasi nilai-nilai unik yang terdapat dalam series tersebut.
# Dalam kasus ini dapat digunakan untuk memeriksa DataFrame yang berisi data string.

loan_data.loan_status.unique()

array(['Current', 'Fully Paid', 'In Grace Period', 'Late (31-120 days)',
       'Late (16-30 days)', 'Charged Off', 'Default'], dtype=object)

In [8]:
# Syntax tersebut digunakan untuk membuat kolom baru bernama 'good_bad' dalam DataFrame loan_data. 
# Kolom ini bertujuan untuk melihat kolom 'good_bad' yang berisikan data numerik '0' = pembayaran tepat waktu
# dan '1' = pembayaran tidak tepat waktu.

loan_data['good_bad'] = np.where(loan_data.loc[:, 'loan_status'].isin(['Charged Off', 
                                                                   'Default', 'Late (31-120 days)', 'Late (16-30 days)'])
                                 , 1, 0)

In [9]:
# Berikut adalah banyaknya nilai data yang 'pembayaran tepat waktu' dan 'pembayaran tidak tepat waktu'

loan_data.good_bad.value_counts()

0    702875
1     56463
Name: good_bad, dtype: int64

In [10]:
# Berikut adalah perbandingan kolom 'loan_status' dan 'good_bad'

loan_data[['loan_status', 'good_bad']]

              loan_status  good_bad
0                 Current         0
1                 Current         0
2                 Current         0
3                 Current         0
4                 Current         0
...                   ...       ...
759333            Current         0
759334            Current         0
759335  Late (16-30 days)         1
759336            Current         0
759337            Current         0

[759338 rows x 2 columns]

In [11]:
# - loan_data.isnull().sum(): Menghitung jumlah nilai-nilai yang hilang (NaN) dalam setiap kolom DataFrame loan_data.
# - / loan_data.shape[0]: Membagi setiap jumlah nilai-nilai yang hilang dengan jumlah baris total dalam DataFrame 
# (loan_data.shape[0]) untuk mendapatkan proporsi nilai-nilai yang hilang relatif terhadap jumlah baris.
# - pd.DataFrame(...): Membuat DataFrame baru dari hasil perhitungan di atas.

missing_values = pd.DataFrame(loan_data.isnull().sum()/loan_data.shape[0])


# - missing_values.iloc[:, 0]: Memilih nilai-nilai dalam kolom pertama dari DataFrame 
# missing_values (yaitu, kolom yang berisi proporsi nilai-nilai yang hilang). 
# - [...] > 0.50: Membuat kondisi yang memilih hanya baris-baris di mana proporsi nilai-nilai yang hilang lebih dari 50%.
# - missing_values[...]: Memilih hanya baris-baris yang memenuhi kondisi tersebut, sehingga menghasilkan DataFrame baru yang 
# hanya berisi kolom-kolom yang memiliki lebih dari 50% nilai-nilai yang hilang.

missing_values = missing_values[missing_values.iloc[:,0] > 0.50]


# - missing_values.sort_values([0], ascending=False): Mengurutkan DataFrame missing_values berdasarkan nilai
# kolom pertama (0), yang merupakan proporsi nilai-nilai yang hilang.
# - ascending=False: Mengurutkan secara menurun, sehingga kolom dengan proporsi nilai-nilai 
# yang hilang terbesar akan berada di bagian atas DataFrame.

missing_values.sort_values([0], ascending=False)

                                    0
member_id                    1.000000
desc                         0.999978
dti_joint                    0.955223
annual_inc_joint             0.955220
verification_status_joint    0.955220
mths_since_last_record       0.814076
mths_since_last_major_derog  0.716720

In [12]:
# - loan_data.shape[0]: Mengambil jumlah baris dalam DataFrame loan_data.
# - how='all': Ini berarti kolom akan dihapus hanya jika seluruh baris dalam kolom tersebut memiliki nilai yang hilang.
# - axis=1: Menunjukkan bahwa kita ingin melakukan operasi pada kolom (bukan baris).
# - inplace=True: Menunjukkan bahwa perubahan akan dilakukan langsung pada DataFrame 
# loan_data tanpa perlu menyimpan hasilnya ke variabel baru.

loan_data.dropna(thresh = loan_data.shape[0]*0.5, how='all' , axis=1 , inplace=True)

In [13]:
missing_values = pd.DataFrame(loan_data.isnull().sum()/loan_data.shape[0])
missing_values = missing_values[missing_values.iloc[:,0] > 0.50]
missing_values.sort_values([0], ascending=False)

Empty DataFrame
Columns: [0]
Index: []